@model Webpayment.Models.db.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totalprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totalprice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPay">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
